services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9990:9990"
    environment:
      - PORT=9990
      - TZ=Asia/Bangkok
    env_file:
      - .env
    volumes:
      - uploads_data:/app/public/uploads
    networks:
      - db-network
    restart: always

  app-migrate-deploy:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    command: bun x prisma migrate deploy
    env_file:
      - .env
    volumes:
      - ./backups:/app/backups
    networks:
      - db-network

networks:
  db-network:
    external: true
    name: databases_db-network

volumes:
  uploads_data:
    driver: local
